html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-image: url(assets/other/background.png);
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    overscroll-behavior: none;
}

.head-menu {
    visibility: visible;
    border: 0 solid;
    background: rgba(250, 250, 250, 0.80);
    padding: 2%;
    margin: 2% 10% 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.results {
    text-align: center;
    justify-content: center;
}

.game-name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    margin: 1% 0 1% 0;
}

.play-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 40px;
    background: #B5EF8A;
    border: 0;
    margin: 2% 30% 2% 30%;
    padding: 1%;
    border-radius: 20px;
}

.play-button:hover {
    background: #ace683;
}

.play-button:active {
    background: #9ed479;
}

.chose-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    visibility: visible;
}

.chose-username-menu {
    border: 0 solid;
    background: rgba(250, 250, 250, 0.80);
    padding: 2%;
    margin: 3% 1% 3% 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    flex: 0.5;
}

input {
    height: 40px;
    background: rgba(209, 209, 209, 0.5);
    border: 0 solid;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 3% 0 3% 0;
    padding: 5px;
}

input:hover {
    background: rgba(200, 200, 200, 0.5);
}

.select-heading {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-self: flex-start;
    margin: 2% 2% 2% 0;
    justify-content: center;
}

.chose-skin-menu {
    border: 0 solid;
    background: rgba(250, 250, 250, 0.80);
    padding: 2%;
    margin: 3% 0 3% 1%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    flex: 0.5;
}

.select-skin-button {
    height: 100px;
    margin: 3% 38% 3% 38%;
    border: 3px solid lightgray;
    border-radius: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.select-skin-button:hover {
    border: 3px solid #B5EF8A;
}

.select-skin-button:active {
    border: 3px solid gray;
}

.hidden {
    display: none;
}

.game-canvas {
    display: none;
}

.modal {
    margin: 5%;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 70%;
    height: 400px;
    padding: 2%;
    background: rgba(250, 250, 250, 0.80);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 0.1;
}

.modal__close-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 30px;
    background: #B5EF8A;
    border: 0;
    padding: 1%;
    border-radius: 20px;
    width: 40%;
}

.modal__close-button:hover {
    background: #ace683;
}

.modal__close-button:active {
    background: #9ed479;
}

.modal-skins {
    flex: 0.9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 24px;
    height: 8px;
    border-radius: 10px;
    background-color: #C1C1C1;
}

::-webkit-scrollbar-thumb {
    background-color: #B5EF8A;
    border-radius: 10px;
}

.skin-button {
    height: 40%;
    width: 19%;
    margin: 2%;
    border: 0 solid;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.skin-button:hover {
    background: rgba(230, 200, 230, 0.5);
    background-size: 100% 100%;
}

.skin-button:focus {
    border: 3px solid #B5EF8A;
}

.overlay{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    z-index: 10;
}

thead {
    font-size: 20px;
}

.scoreboard-table {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 10%;
    height: 25%;
    z-index: 10;
    border-spacing: 30px 2px;
    background: rgba(250, 250, 250, 0.70);
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.map {
    position: absolute;
    left: 2%;
    bottom: 2%;
    width: 100px;
    height: 100px;
    z-index: 10;
    border-spacing: 30px 2px;
    background: rgba(250, 250, 250, 0.70);
    overflow-x: hidden;
    overflow-y: hidden;
}

.scoreboard-section.tr {
    border-top: 1px;
}

.sound {
    background-image: url(assets/other/volume.png);
    background-color: rgba(250, 250, 250, 0.70);
    display: none;
    height: 70px;
    width: 70px;
    padding: 5px;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 11;
    border: 0 solid;
    border-radius: 10px;
    background-size: 100% 100%;
}

.sound:hover {
    border: 0 solid;
    background-color: rgba(250, 250, 250, 0.50);
    background-size: 100% 100%;
}

.sound:active {
    border: 3px solid #B5EF8A;
    background-color: rgba(250, 250, 250, 0.50);
    background-size: 100% 100%;
}

.home {
    background-image: url(assets/other/home.png);
    background-color: rgba(250, 250, 250, 0.70);
    display: none;
    height: 70px;
    width: 70px;
    padding: 5px;
    position: absolute;
    top: 20%;
    left: 2%;
    z-index: 11;
    border: 0 solid;
    border-radius: 10px;
    background-size: 100% 100%;
}

.home:hover {
    border: 0 solid;
    background-color: rgba(250, 250, 250, 0.50);
    background-size: 100% 100%;
}

.home:active {
    border: 3px solid #B5EF8A;
    background-color: rgba(250, 250, 250, 0.50);
    background-size: 100% 100%;
}
